body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background: url("../img/w2.jpg.jsf?ln=template") no-repeat center center fixed;
	background-size: cover;
	margin:0;
}

.bottom-space{
	margin-bottom: 7em;
}

.top-space{
	margin-top: 5em;
}

#page_wrapper{
	margin: 3em;
	min-width: 700px;
}